@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Playfair", serif;
    font-size: 19px;
}

body{
    width: 100%;
    height: 100vh;
    background: url(PhotoRoom-20240420_220505.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position-y: 80px;
}

.body-contant{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

#progress{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0, 0.2);
    cursor: pointer;
    z-index: 1;
}

#progress-value{
    position: absolute;
    display: block;
    height: calc(100% - 14px);
    width: calc(100% - 14px);
    background-color: black;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}


::selection{
    background-color: #ffcc00;
    color: black;
}

.navigation .container-fluid .collapse ul li a{
    color: white;
    font-size: 20px;
    padding: 5px 15px;
 }
 
 .navigation .container-fluid .collapse ul li a{
     position: relative;
     margin-left: 5px;
 }
 .navigation .container-fluid .collapse ul li a::after{
     content: "";
     width: 0%;
     height: 3px;
     background: rgb(250, 209, 47);
     position: absolute;
     bottom: -6px;
     left: 0;
     transition: 1s;
 }
 .navigation .container-fluid .collapse ul li a:hover{
     color: rgb(250, 209, 47);
 }
 .navigation .container-fluid .collapse ul li a:hover::after{
     width: 100%;
     cursor: pointer;
 }

.navigation .container-fluid .collapse .icons a i{
    color: white;
    border-radius: 50%;
}

.navigation .container-fluid .collapse .icons a i:hover{
    color: rgb(250, 209, 47);
    transition: 0.5s;
    box-shadow: 4px 4px 30px rgb(255, 234, 0);
}

@media (max-width:375px) {
    body{
        width: 100%;
        height: 100vh;
        background: url(PhotoRoom-20240420_220505.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 370px;
        background-position-y: 60px;
    }
    
    .body-contant{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width:280px) {
    body{
        width: 100%;
        height: 100vh;
        background: url(PhotoRoom-20240420_220505.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 330px;
        background-position-y: 120px;
        background-position-x: -30px;
    }
    
    .body-contant{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}

.projectClass{
    border: 1px solid yellow;
}

.projectClass:hover{
    cursor: pointer;
    box-shadow: 1px 2px 19px rgb(255, 255, 66);
    transform: translateY(10px);
    transition: 0.3s ease-in-out;
    transform: translateY(-10px);
}









